@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Carter+One&display=swap');
#font-style{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.1rem;
}
.form-check-input:checked {
    background-color: #8d94a0;
    border-color: #0d6efd;
}
body {
    color: #e2dada;
    
}