@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Darker+Grotesque:wght@700&display=swap');
body{
    color:#252525;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3rem;
}
h4{
    font-size: 2rem;
    margin-top: 1rem;
}
p{
    margin-top:0;
    margin-bottom:0;
}
.form-control{
background: rgba(255, 255, 255, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
}