@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Darker+Grotesque:wght@700&display=swap');
body{
    color:#252525;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3rem;
    
}
h4{
    font-size: 2rem;
    margin-top: 1rem;
}
p{
    margin-top:0;
    margin-bottom:0;
}
.form-control{

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

footer{
    /* color:white; */
    width:100vw;
    padding:5px;
    text-align: center;
    /* background-color: #000000bf; */
    font-family: 'Darker Grotesque', sans-serif;
}
.button-style-dark{
      appearance: none;
      background-color: #000000fb;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 16px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 30%;
      will-change: transform;
    }
    
    .button-style-dark:disabled {
      pointer-events: none;
    }
    
    .button-style-dark:hover {
      box-shadow: rgba(0, 0, 0, 0.767) 0 8px 15px;
      transform: translateY(-2px);
      color: white;
    }
    
    .button-style-dark:active {
      box-shadow: none;
      transform: translateY(0);
    }

    

/* CSS */
.button-style-light {
  appearance: none;
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
}

.button-style-light:disabled {
  pointer-events: none;
}

.button-style-light:hover {
  color: #fff;
  background-color: #0a0a0a;
  box-shadow: rgba(224, 224, 224, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-style-light:active {
  box-shadow: none;
  transform: translateY(0);
}